!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    title Hello
  body
    form
      h1 Settings
      span End Point URL
      input#url(type='text')
      span Commerce provider
      input(type='radio', name='commerce', value='wcs')
      | wcs
      input(type='radio', name='commerce', value='hybris')
      | hybris
      input(type='button', action='')
